<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title th:text="#{view.course_detail.title} + ' ' + ${course.getName()}"></title>

    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <!-- bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body onload="pageLoaded()">
<div th:replace="~{fragments/navbar}">Navbar</div>

<div class="container-fluid  content">
    <!-- content -->
    <div class="container">
        <!-- alerts -->
        <div th:if="(${(param.edit != null)} and ${(param.edit[0] == 'success')}
        or ${(param.create != null)} and ${(param.create[0] == 'success')}
        or ${(param.delete != null)} or ${(param.subordinate != null)})"
             class="alert alert-success alert-dismissible fade show">
            <strong th:if="${(param.edit != null)} and ${(param.edit[0] == 'success')}" th:text="#{view.course.alert.edit.success}"></strong>
            <strong th:if="${(param.create != null)}" th:text="#{view.course.alert.create}"></strong>
            <strong th:if="${(param.delete != null)}" th:text="#{not-implemented}"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div th:if="(${(param.edit != null)} and ${(param.edit[0] == 'failure')}
        or ${(param.create != null)} and ${(param.create[0] == 'failure')})"
             class="alert alert-danger alert-dismissible fade show">
            <strong th:if="${(param.edit != null)} and ${(param.edit[0] == 'failure')}" th:text="#{view.course.alert.edit.failure}"></strong>
            <strong th:if="${(param.create != null)}" th:text="#{view.course.alert.create}"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div th:if="${permissionError} == true"
             class="alert alert-danger alert-dismissible fade show">
            <strong th:text="#{no-permission.failure}"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:if="${generalError} == true"
             class="alert alert-danger alert-dismissible fade show">
            <strong th:text="#{general.failure}"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <h1 class="text-center mt-5" th:text="#{view.course_detail.header} + ' ' + ${course.getName()}"></h1>

        <form   method="post"
                th:action="@{'/c/create'}"
                th:object="${course}" th:method="POST" novalidate>
            <table>
                <tr>
                    <td class="course-detail-div">
                        <label class="course-detail-label" for="shortcut"
                               th:text="#{view.course_detail.shortcut}" th:required="true"/>
                        <input class="course-detail-input" type="text"
                               onchange="onRequiredDetailChange(this)" th:required="true"
                               id="shortcut" name="shortcut" th:field="*{shortcut}">
                    </td>
                </tr>
                <tr>
                    <td class="course-detail-div">
                        <label class="course-detail-label" for="name"
                               th:text="#{view.course_detail.name}" th:required="true"/>
                        <input class="course-detail-input" type="text"
                               onchange="onRequiredDetailChange(this)" th:required="true"
                               id="name" name="name" th:field="*{name}">
                    </td>
                </tr>
                <tr>
                    <td class="course-detail-div">
                        <label class="course-detail-label" for="workplace"
                               th:text="#{view.course_detail.workplace}" th:required="true"/>
                        <select class="course-detail-input"
                                id="workplace" name="workplace" th:field="*{courseWorkplace}">
                            <option th:each="wrk : ${workplaces}" th:value="${wrk.getId()}"
                                    th:text="${wrk.getFullName()}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="course-detail-div">
                        <label class="course-detail-label" for="guarantor"
                               th:text="#{view.course_detail.guarantor}"/>
                        <select class="course-detail-input" id="guarantor"
                                name="guarantor" th:field="*{courseManagerId}" th:required="true">
                            <option th:each="mng : ${employees}" th:value="${mng.getId()}"
                                    th:text="${mng.getLastName()} + ' ' + ${mng.getFirstName()}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="course-detail-div">
                        <h4 th:text="#{view.course_detail.scope}"/>
                    </td>
                </tr>
                <tr>
                    <td class="course-detail-div">
                        <div>
                            <label class="course-detail-label" for="lecture"
                                   th:text="#{view.course_detail.lecture}" th:required="true"/>
                            <input class="course-detail-input" type="number"
                                   onchange="onRequiredDetailChange(this)" th:required="true"
                                   id="lecture" name="lecture" th:field="*{lectureLength}">
                        </div>
                    </td>
                    <td class="course-detail-div">
                        <div>
                            <label class="course-detail-label" for="exercise"
                                   th:text="#{view.course_detail.exercise}" th:required="true"/>
                            <input class="course-detail-input" type="number"
                                   onchange="onRequiredDetailChange(this)" th:required="true"
                                   id="exercise" name="exercise" th:field="*{exerciseLength}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="course-detail-div">
                        <label class="course-detail-label" for="from"
                               th:text="#{view.course_detail.from}" th:required="true"/>
                        <input class="course-detail-input" type="date"
                               onchange="onRequiredDetailChange(this)" th:required="true"
                               id="from" name="from" th:field="*{dateFrom}">
                    </td>
                </tr>
                <tr>
                    <td class="course-detail-div">
                        <label class="course-detail-label" for="until"
                               th:text="#{view.course_detail.until}" th:required="true"/>
                        <input class="course-detail-input" type="date"
                               onchange="onRequiredDetailChange(this)" th:required="true"
                               id="until" name="until" th:field="*{dateUntil}">
                    </td>
                </tr>
                <tr>
                    <td class="course-detail-div">
                        <label class="course-detail-label" for="year"
                               th:text="#{view.course_detail.year}"/>
                        <input class="course-detail-input" type="text"
                               id="year" name="year" th:value="*{#dates.year(introduced)}">
                    </td>
                </tr>
                <tr>
                    <td class="course-detail-div">
                        <label class="course-detail-label" for="students"
                               th:text="#{view.course_detail.students}" th:required="true"/>
                        <input class="course-detail-input" type="number"
                               onchange="onRequiredDetailChange(this)" th:required="true"
                               id="students" name="students" th:field="*{numberOfStudents}">
                    </td>
                </tr>
<!--                <tr>-->
<!--                    <td class="course-detail-div">-->
<!--                        <h4 th:text="#{view.course_detail.sa_required}"/>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="course-detail-div">-->
<!--                        <label class="course-detail-label" for="lecture_sa"-->
<!--                               th:text="#{view.course_detail.lecture}"/>-->
<!--                        <input class="course-detail-input" type="number"-->
<!--                               id="lecture_sa" name="lecture_sa" th:field="*{lectureRequired}">-->
<!--                    </td>-->
<!--                    <td class="course-detail-div">-->
<!--                        <label class="course-detail-label" for="exercise_sa"-->
<!--                               th:text="#{view.course_detail.exercise}"/>-->
<!--                        <input class="course-detail-input" type="number"-->
<!--                               id="exercise_sa" name="exercise_sa" th:field="*{exerciseRequired}">-->
<!--                    </td>-->
<!--                </tr>-->

                <tr>
                    <td class="flex-duo" style="margin-bottom: 50px">
                        <input id="form-submit" class="course-detail-btn form-submit"
                               th:formaction="'/c/create'" type="submit"
                               th:value="#{view.course_detail.submit}">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div th:replace="~{fragments/footer}">Footer</div>
</body>
<script th:inline="javascript">

    // Pole uzivatelu
    let employees = [[${employees}]];

    let requiredDetailNotFilled = 0;

    function onRequiredDetailChange(element) {
        let btn = document.getElementsByClassName('form-submit');
        console.log('element.value:' + element.value);
        if (element.value === '') {
            if (requiredDetailNotFilled === 0)
                btn[0].disabled = true;
            requiredDetailNotFilled++;
            element.classList.add('course-detail-input-empty');
            return false;
        } else {
            element.classList.remove('course-detail-input-empty');
            requiredDetailNotFilled--;
            if (requiredDetailNotFilled === 0)
                btn[0].disabled = false;
        }
    }

    function pageLoaded() {
        let btn = document.getElementsByClassName('form-submit');
        let inputs = document.getElementsByClassName('course-detail-input');
        for (let i = 0; i < inputs.length; ++i) {
            if (inputs[i].required === true) {
                if (inputs[i].value === '') {
                    if (requiredDetailNotFilled === 0)
                        btn[0].disabled = true;
                    requiredDetailNotFilled++;
                    inputs[i].classList.add('course-detail-input-empty');
                }
            }
        }
    }

</script>
</html>