<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title th:text="#{form.edit-allocation.title}"></title>

    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <!-- bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="~{fragments/navbar}">Navbar</div>
<div class="container-fluid">
    <!-- content -->
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <div class="text-center mt-5"><h1 th:text="#{form.edit-allocation.header}"></h1></div>
            <div id="scope-high-alert" class="text-center" hidden="hidden">
                <span class="text-center" th:text="#{view.scope.exceeded}"></span>
            </div>
            <form method="post"
                  th:action="@{'/a/' + ${id} + '/edit'}"
                  th:object="${assignmentVO}" th:method="POST"
                  class="border needs-validation m-0 mb-5 w-100 was-validated" novalidate>
                <div hidden="hidden">
                    <input th:value="*{projectId}" th:field="*{projectId}" type="hidden" th:required>
                    <input th:value="*{employeeId}" th:field="*{employeeId}" type="hidden" th:required>
                </div>
                <div class="row pt-4 m-3">
                    <label for="scope_from_fte" class="form-label"
                           th:text="#{form.create-allocation.label.scope}"></label>
                    <div class="input-group">
                        <input th:field="*{allocationScope}" value="0" id="scope_from_fte" type="number"
                               class="form-control common-border-radius" required>
                        <span class="input-group-text common-border-radius"
                              th:text="#{view.allocation.filter-form.fte}"></span>
                    </div>
                    <div class="input-group">
                        <input value="0" id="scope_from_hpw" type="number"
                               class="form-control common-border-radius">
                        <span class="input-group-text common-border-radius"
                              th:text="#{view.allocation.filter-form.hpw}"></span>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col">
                        <label for="assignment_valid_from" class="form-label"
                               th:text="#{form.create-allocation.label.vfrom}"></label>
                        <input th:field="*{validFrom}" type="date" id="assignment_valid_from"
                               name="assignment_valid_from"
                               class="form-control common-border-radius" th:min="${minDate}" required>
                        <div class="invalid-feedback" th:text="#{form.create-allocation.invalid.vfrom}"></div>
                    </div>
                    <div class="col">
                        <label for="assignment_valid_until" class="form-label"
                               th:text="#{form.create-allocation.label.vuntil}"></label>
                        <input th:field="*{validUntil}" type="date" id="assignment_valid_until"
                               name="assignment_valid_until"
                               class="form-control common-border-radius" th:max="${maxDate}" required>
                        <div class="invalid-feedback" th:text="#{form.create-allocation.invalid.vuntil}"></div>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col">
                        <label for="assignment_description" class="form-label"
                               th:text="#{form.create-allocation.label.description}"></label>
                        <textarea th:field="*{description}" id="assignment_description" name="assignment_description"
                                  class="form-control common-border-radius" rows="5" required></textarea>
                        <div class="invalid-feedback" th:text="#{form.create-allocation.invalid.description}"></div>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                               th:field="*{isActive}">
                        <label class="form-check-label" for="flexSwitchCheckDefault"
                               th:text="#{form.edit-allocation.is-active}"></label>
                    </div>
                </div>
                <div class="row m-3 justify-content-center">
                    <div class="col">
                        <input id="form-submit" class="btn btn-outline-primary w-100 common-border-radius" type="submit"
                               th:value="#{form.edit-allocation.submit}">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6">
            <div class="text-center mt-5"><h1 th:text="#{form.user-allcations.header}"></h1></div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" th:text="#{view.workload.from}"></th>
                    <th scope="col" th:text="#{view.workload.until}"></th>
                    <th scope="col" th:text="#{view.workload.active-fte}"></th>
                    <th scope="col" th:text="#{view.workload.active-hpw}"></th>
                    <th scope="col" th:text="#{view.workload.all-fte}"></th>
                    <th scope="col" th:text="#{view.workload.all-hpw}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="int, iStat : ${rules.intervals}">
                    <th scope="row" th:text="${iStat.index + 1}"></th>
                    <td th:text="${int.getFrom()}"></td>
                    <td th:text="${int.getUntil()}"></td>
                    <td th:text="${int.formatInFTE(int.getScopeOfActive())}"></td>
                    <td th:text="${int.formatInHPW(int.getScopeOfActive())}"></td>
                    <td th:text="${int.formatInFTE(int.getScopeOfAll())}"></td>
                    <td th:text="${int.formatInHPW(int.getScopeOfAll())}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer}">Footer</div>
<script type="text/javascript" th:src="@{/js/form_validation.js}"></script>
<script type="text/javascript" th:src="@{/js/form_integrity/allocation_scope.js}"></script>
<script type="text/javascript" th:src="@{/js/validation/allocation_form_validation.js}"></script>
<script type="text/javascript" th:inline="javascript">

    let new_fte = $('#scope_from_fte').val() / 60.0 / 40.0;
    let new_hpw = $('#scope_from_fte').val() / 60.0;

    let sc = new AllocationScopeController('scope_from_fte', 'scope_from_hpw');
    let rules = [[${rules}]];

    let va = new AllocationValidation('assignment_valid_from', 'assignment_valid_until', 'scope_from_fte', 'scope_from_hpw', rules, 'scope-high-alert', 'form-submit');

    document.addEventListener("DOMContentLoaded", () => {

        let dateA = $('#assignment_valid_from').attr('value').split('.');
        dateA = `${'20' + dateA[2]}-${dateA[1]}-${dateA[0]}`;
        $('#assignment_valid_from').attr('value', dateA);

        let dateB = $('#assignment_valid_until').attr('value').split('.');
        dateB = `${'20' + dateB[2]}-${dateB[1]}-${dateB[0]}`;
        $('#assignment_valid_until').attr('value', dateB);
    });

    $('#scope_from_hpw').val(new_hpw);
    $('#scope_from_fte').val(new_fte);
</script>
</script>
</body>
</html>