<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title th:text="#{view.project.title}"></title>

    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <!-- bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="~{fragments/navbar}">Navbar</div>

<div class="container-fluid">
    <!-- content -->
    <div class="container">
        <!-- table -->
        <h1 class="text-center mt-5" th:text="#{view.project.header}"></h1>
        <input type="button" class="project-btn"
           th:href="@{/p/create}" th:value="#{view.project.create}">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" th:text="#{view.project.table.name}"></th>
                    <th scope="col" th:text="#{view.project.table.workplace}"></th>
                    <th scope="col" th:text="#{view.project.table.manager}"></th>
                    <th scope="col" th:text="#{view.project.table.from}"></th>
                    <th scope="col" th:text="#{view.project.table.until}"></th>
                    <th scope="col" th:text="#{view.project.table.current-time}"></th>
                    <th scope="col" th:text="#{view.project.table.certain}"></th>
                    <th scope="col" th:text="#{view.project.table.description}"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="pro, iStat : ${projects}">
                    <!-- Project-->
                    <th:block th:if="${firstAllocations.get(iStat.index).getTime >= 0}">
                        <tr>
                            <td class="project-cell" th:rowspan="${pro.getProjectAllocations().size() + 1}">
                                <a type="button" class="btn collapsible btn-detail" th:href="@{/p/{PRO_ID}/detail(PRO_ID=${pro.getId()})}"></a>
                            </td>
                            <td th:rowspan="${pro.getProjectAllocations().size() + 1}" th:text="${pro.getName()}"></td>
                            <td th:rowspan="${pro.getProjectAllocations().size() + 1}" th:text="${pro.getProjectManager().getLastName()}"></td>
                            <td th:rowspan="${pro.getProjectAllocations().size() + 1}" th:text="${pro.getProjectWorkplace().getAbbreviation()}"></td>
                            <td th:text="${#dates.format(firstAllocations.get(iStat.index).getDateFrom(), 'dd-MM-yyyy')}"></td>
                            <td th:text="${#dates.format(firstAllocations.get(iStat.index).getDateUntil(), 'dd-MM-yyyy')}"></td>
                            <td th:text="${firstAllocations.get(iStat.index).getTime()}"></td>
                            <td th:text="${firstAllocations.get(iStat.index).getIsCertain()}"></td>
                            <td th:text="${firstAllocations.get(iStat.index).getDescription()}"></td>
<!--                            <td class="project-cell">-->
<!--                                <button class="btn collapsible btn-edit" th:onclick="'editFunction('+${firstAllocations.get(iStat.index).getId()}+')'"></button>-->
<!--                            </td>-->
                        </tr>
                        <!-- Employees -->
                        <th:block th:each="all, allStats : ${pro.getProjectAllocations()}">
                            <tr>
                                <td th:text="${#dates.format(all.getDateFrom(), 'dd-MM-yyyy')}"></td>
                                <td th:text="${#dates.format(all.getDateUntil(), 'dd-MM-yyyy')}"></td>
                                <td th:text="${all.getTime()}"></td>
                                <td th:text="${all.getIsCertain()}"></td>
                                <td th:text="${all.getDescription()}"></td>
<!--                                <td class="project-cell">-->
<!--                                    <button class="btn collapsible btn-edit" th:onclick="'editFunction('+${all.getId()}+')'"></button>-->
<!--                                </td>-->
                            </tr>
                        </th:block>
                    </th:block>
                    <th:block th:if="${firstAllocations.get(iStat.index).getTime == -1}">
                        <tr>
                            <td class="project-cell" th:rowspan="${pro.getProjectAllocations().size() + 1}">
                                <a type="button" class="btn collapsible btn-detail" th:href="@{/p/{PRO_ID}/detail(PRO_ID=${pro.getId()})}"></a>
                            </td>
                            <td class="project-cell" th:text="${pro.getName()}"></td>
                            <td class="project-cell" th:text="${pro.getProjectManager().getLastName()}"></td>
                            <td class="project-cell" th:text="${pro.getProjectWorkplace().getAbbreviation()}"></td>
                            <td class="project-cell" th:text="'-'"></td>
                            <td class="project-cell" th:text="'-'"></td>
                            <td class="project-cell" th:text="'-'"></td>
                            <td class="project-cell" th:text="'-'"></td>
                            <td class="project-cell" th:text="'-'"></td>
                            <td class="project-cell">
                                <button class="btn collapsible btn-edit"></button>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer}">Footer</div>
</body>
</html>