.common-accordion-button-text {
    text-align: center !important;
}

.accordion-item, .accordion-button  {
    border-radius: 0 !important;
}

.common-border-radius {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.btn-page-head {
    border-radius: 4px;
    margin: 4px;
    padding: 20px;
    background-color: #289345;
    height: 45px;
}

.btn-page-head:hover {background: #165a3d;}

.dropdown-item-down {
    background-color: #289345;
}

.dropdown-item-down:hover {
    background-color: #165a3d;
}

.btn-dropdown {
    background-image: url(../img/caret-down-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px;
}

.btn-dropdown-clicked {
    background-image: url(../img/caret-up-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px;
}

.btn-left {
    background-image: url(../img/arrow-left-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px;
}

.btn-right {
    background-image: url(../img/arrow-right-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px;
}

.btn-detail {
    background-image: url(../img/eye-solid.svg);
    background-repeat: no-repeat;
    background-position: right;
    right: 0;
    height: 30px;
    padding: 12px;
}

.btn-edit {
    background-image: url(../img/pen-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px;
    height: 30px;
    visibility: visible;
}

.btn-delete {
    background-image: url(../img/trash-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px;
    height: 30px;
    visibility: visible;
}

.btn-cancel, .btn-cancel-new-all {
    background-image: url(../img/times-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px;
    height: 30px;
    visibility: hidden;
}

.btn-confirm, .btn-confirm-new-all {
    background-image: url(../img/check-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px;
    height: 30px;
    visibility: hidden;
}

.btn-add {
    background-image: url(../img/plus-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px;
    height: 30px;
    visibility: visible;
}

table, body {
    background-color: #ffffff;
    margin-top: 0;
    padding-top: 0px;
    text-align: start;
    border-collapse: collapse;
}

table {
    overflow: hidden;
}

.content {
    padding-bottom: 50px
}

footer {
    display:block;
    width: 100%;
    clear: both;
    height: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #a7a7a7;
}

.my-collapse {
    background-color: #ffffff;
    visibility: collapse;
}

.my-container {
    background-color: #ffffff;
    position: absolute;
    /*top: 40%;*/
    /*bottom: 10%;*/
    left: 5%;
    right: 5%;
    /*width: 80%;*/
}

/* Start of styles for function */

.function-row-title {

}

.function-cell, .function-cell-times, .function-cell-times-values {
    width:5%;
    text-align: center;
}

.function-cell-times-values-changed {
    width:5%;
    text-align: center;
    background-color: darkgoldenrod;
}

.function-row-header {

}

.function-row-value {

}

.function-cell {
    padding:10px;
}

.function-input {
    width: 40px;
}

.function-detail-div {
    margin-bottom: 10px;
}

.function-detail-label {
    text-transform: uppercase;
    width: 150px;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.function-detail-label[required]::after {
    content: "*";
    color: red;
}

.function-detail-collapse-btn {
    position: relative;
    left: 100%;
}

.function-detail-collapse {
    visibility: collapse;
    margin-bottom: 50px;
}

.function-detail-collapsible-header {

}

.function-detail-input {
    width: 200px;
    border-radius: 4px;
}

.function-allocations-header {
    width: 150px;
}

.function-allocations {
    width: 100%;
}

.function-allocations-input, .function-allocations-select {
    max-width: 150px;
}

.function-allocations-input:read-only {
    max-width: 150px;
    border: none;
    background-color: transparent;
    outline: none; /* Remove default outline on focus */
}

.function-allocation-new-hidden {
    display: none;
}

.function-btn {
    color: #000000;
    border: #000000 solid 1px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: none
}

.function-btn:hover {
    color: #000000;
    border: #0062FF solid 1px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: none;
}

.function-detail-btn {
    width: 100px;
    background-color: #f5fbff;
    align-content: end;
    border: #0062FF solid 1px;
    border-radius: 8px;
    margin-right: 30px;
}

.function-detail-btn:hover {
    width: 100px;
    background-color: #ffffff;
    align-content: end;
    border: #0062FF solid 1px;
    border-radius: 8px;
}

.function-text-area {
    max-width: 800px;
    max-height: 500px;
    display: block;
    resize: none;
}

/* End of styles for function */

/* Start of styles for course */

.course-row-title {

}

.course-cell, .course-cell-times, .course-cell-times-values {
    width:5%;
    text-align: center;
}

.course-cell-times-values-changed {
    width:5%;
    text-align: center;
    background-color: darkgoldenrod;
}

.course-row-header {

}

.course-row-value {

}

.course-cell {
    padding:10px;
}

.course-input {
    width: 40px;
}

.course-detail-div {
    margin-bottom: 10px;
}

.course-detail-label {
    text-transform: uppercase;
    width: 150px;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.course-detail-label[required]::after {
    content: "*";
    color: red;
}

.course-detail-collapse-btn {
    position: relative;
    left: 100%;
}

.course-detail-collapse {
    visibility: collapse;
    margin-bottom: 50px;
}

.course-detail-collapsible-header {

}

.course-detail-input {
    width: 200px;
    border-radius: 4px;
}

.course-btn {
    color: #000000;
    border: #000000 solid 1px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: none;
}

.course-btn:hover {
    color: #000000;
    border: #0062FF solid 1px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: none;
}

.course-detail-btn {
    width: 100px;
    background-color: #f5fbff;
    align-content: end;
    border: #0062FF solid 1px;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 30px;
}

.course-detail-btn:hover {
    width: 100px;
    background-color: #ffffff;
    align-content: end;
    border: #0062FF solid 1px;
    border-radius: 8px;
}

.course-detail-tab-container {
    display: flex;
}

.course-table-detail-top-btns-row {
    width: 100%;
}

.course-table-detail-top-btn {
    width: 100px;
    background-color: #C8C8C8;
    align-content: end;
    border: #0062FF solid 1px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.course-table-detail-top-btn-chosen {
    width: 100px;
    background-color: #0062FF;
}

.course-table-detail-btn {
    width: 100px;
    background-color: #f5fbff;
    align-content: end;
    border: #0062FF solid 1px;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 30px;
}

.course-table-detail {
    width: auto;
    left:5%;
    right:5%;
}

.course-table-detail-row {
    width: 100%;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}

.course-table-detail-select {
    width:200px;
    padding:10px;
}

.course-table-detail-select:read-only {
    width:200px;
    padding:10px;
    border: none;
    background-color: transparent;
    outline: none; /* Remove default outline on focus */
}

.course-table-detail-input {
    width:100px;
    padding:10px;
}

.course-table-detail-input:read-only {
    width:100px;
    padding:10px;
    border: none;
    background-color: transparent;
    outline: none; /* Remove default outline on focus */
}

.course-detail-button {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
}

.course-detail-tab-content {
    display: none;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    width:1500px
}

.course-detail-tab-content.active {
    display: table;
    width:1500px
}

.course-detail-button-selected {
    background-color: #ffffff;
}

.course-detail-allocations {
    padding-top: 50px;
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
}

.course-allocation-new-displayed {
    display: none;
}

.course-allocation-new-hidden {
    display: none;
}

.course-detail-table {
    background-color: #ffffff;
    /*top: 40%;*/
    /*bottom: 10%;*/
    left: 25%;
    right: 25%;
}

/* End of styles for course */

/* Start of styles for project */

.project-row-title {
    text-align: center;
}

.project-row-value {

}

.project-cell {
    padding:10px;
}

.project-input {
    width: 40px;
}

/* Project detail */

.project-detail-collapse-btn {
    position: relative;
    left: 100%;
}

.project-detail-collapse {
    visibility: collapse;
    margin-bottom: 50px;
}

.project-detail-collapsible-header {

}

.project-detail-div {
    margin-bottom: 10px;
}

.project-detail-label {
    text-transform: uppercase;
    width: 500px;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.project-detail-label[required]::after {
    content: "*";
    color: red;
}

.project-detail-input {
    max-width: 250px;
    border-radius: 4px;
}

.project-btn {
    color: #000000;
    border: #000000 solid 1px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: none;
}

.project-btn:hover {
    color: #000000;
    border: #0062FF solid 1px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: none;
}

.project-detail-btn {
    width: 100px;
    background-color: #f5fbff;
    align-content: end;
    border: #0062FF solid 1px;
    border-radius: 8px;
    margin-right: 30px;
}

.project-detail-btn:hover {
    width: 100px;
    background-color: #ffffff;
    align-content: end;
    border: #0062FF solid 1px;
    border-radius: 8px;
}

.project-text-area {
    max-width: 800px;
    max-height: 500px;
    display: block;
    resize: none;
}

.project-detail-table-cell-name {
    max-width: 20%;
}

.project-detail-table-cell, .project-cell-times-values {
    width:5%;
    /*border: 1px solid black;*/
}

.project-row-header {
    width: auto;
    text-align: center;
    margin: 10px;
}

.project-cell {
    padding:10px;
}

.project-allocations-btn {
    width: 20px;
}

.project-activity-name-first {

}

.project-activity-name {

}

.project-cell, .project-cell-times, .project-cell-times-values {
    width:5%;
    text-align: center;
}

.project-cell-times-values-changed {
    width:5%;
    text-align: center;
    background-color: darkgoldenrod;
}

.project-allocations-header {
    width: 150px;
}

.project-allocations-cell-name {
    width: 400px;
}

.project-allocation-new-displayed {
    display: none;
}

.project-allocation-new-hidden {
    display: none;
}

.project-allocations {
    width: 100%;
}

.project-allocations-input, .project-allocations-select {
    max-width: 150px;
}

.project-allocations-select:disabled {
    max-width: 150px;
    border: none;
    background-color: transparent;
    outline: none; /* Remove default outline on focus */
    opacity: 1 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.project-allocations-input:read-only {
    max-width: 150px;
    border: none;
    background-color: transparent;
    outline: none; /* Remove default outline on focus */
}

/* End of styles for project */

/* Start of styles for workplace */

.workplace-detail-div {
    margin-bottom: 10px;
}

.workplace-detail-label {
    text-transform: uppercase;
    width: 150px;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.workplace-detail-label[required]::after {
    content: "*";
    color: red;
}

.workplace-detail-input {
    width: 200px;
    border-radius: 4px;
}

.workplace-btn {
    color: #000000;
    border: #000000 solid 1px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: none;
}

.workplace-btn:hover {
    color: #000000;
    border: #0062FF solid 1px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: none;
}

.workplace-detail-btn {
    width: 100px;
    background-color: #f5fbff;
    align-content: end;
    border: #0062FF solid 1px;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 30px;
}

.workplace-detail-btn:hover {
    width: 100px;
    background-color: #ffffff;
    align-content: end;
    border: #0062FF solid 1px;
    border-radius: 8px;
}

.workplace-text-area {
    max-width: 800px;
    max-height: 500px;
    display: block;
    resize: none;
}

.workplace-cell {
    padding:10px;
}

/* End of styles for workplace */

/* Start of styles for employee */

.employees-body {
    background-color: #ffffff;
}

.employee-row-title {
    width: 100%;
}

.employee-row-header {
}

.employee-row-value {
}

/* Employee detail */

.employee-detail-div {
    margin-bottom: 10px;
}

.employee-detail-label {
    text-transform: uppercase;
    width: 150px;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.employee-detail-label[required]::after {
    content: "*";
    color: red;
}

.employee-detail-collapse-btn {
    position: relative;
    left: 100%;
}

.employee-detail-collapse {
    visibility: collapse;
    margin-bottom: 50px;
}

.employee-detail-collapsible-header {
    width: 90%;
}

.employee-detail-input {
    width: 200px;
    border-radius: 4px;
}

.employee-btn {
    color: #000000;
    border: #000000 solid 1px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 40px;
    text-decoration: none;
}

.employee-btn:hover {
    color: #000000;
    border: #0062FF solid 1px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: none;
}

.employee-detail-btn {
    width: 100px;
    background-color: #f5fbff;
    align-content: end;
    border: #0062FF solid 1px;
    border-radius: 8px;
    margin-right: 30px;
}

.employee-detail-btn:hover {
    width: 100px;
    background-color: #ffffff;
    align-content: end;
    border: #0062FF solid 1px;
    border-radius: 8px;
}

.employee-text-area {
    max-width: 800px;
    max-height: 500px;
    display: block;
    resize: none;
}

.employee-name {
    padding-right:10px;
    padding-left:10px;
    width:300px
}

.employee-cell {
    padding-right:10px;
    padding-left:10px;
    width:100px
}

.employee-detail-table-description {
    width: 500px;
}

.employee-allocations-header {
    width: 150px;
}

.employee-allocations {
    width: 100%;
}

.employee-allocations-input {
    max-width: 150px;
}

.employee-allocations-input:read-only {
    max-width: 150px;
    border: none;
    background-color: transparent;
    outline: none;
}

.employee-date {
    padding:10px;
    width:200px
}

.employee-activity-name-first {

}

.employee-activity-name {

}

.employee-detail-projects-table {
    width: 100%;
    left: 20%;
    right: 20%;
}

.employee-detail-courses-table {
    width: 100%;
    left: 20%;
    right: 20%;
}

.employee-detail-functions-table {
    width: 100%;
    left: 20%;
    right: 20%;
}

.my_page {
    height: 90%;
}

.main-row-employee {

}

/* End of styles for employee */

.flex-duo {
    margin-top: 20px;
    display: flex;
}

.main-row {
    width: auto;
}

.main-row-title {
    width: auto;
    text-align: center;
}

.main-row-header {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.main-row-header-cell {
    width:50px;
    /*border: 1px solid black;*/
    text-align: center;
    margin: 10px;
}

.main-row-header-eye {
    width: 10%;
    /*border: 1px solid black;*/
    text-align: right;
}

.main-uncertain-times, .main-certain-times, .main-projects-times, .main-courses-times, .main-functions-times {
    width: 100%;
}

.main-row-table {
    width: 100%;
}

.main-row-name {
    width: 20%;
    max-width: 300px;
    /*border: 1px solid black;*/
    text-align: right;
    margin-right: 10px;
}

.main-cell, .main-cell-times, .main-cell-times-values {
    width:40px;
    min-width:40px;
    max-width:40px;
    /*border: 1px solid black;*/
    text-align: center;
}

.certain-highlight {
    color: #2471a3;
}

.uncertain-highlight {
    color: darkorange;
}

.projects-highlight {
    color: indigo;
}

.projects-highlight-background {
    background-color: rgba(75, 0, 130, 0.5);
}

.courses-highlight {
    color: #165a3d;
}

.courses-highlight-background {
    background-color: rgba(22, 90, 61, 0.5);
}

.functions-highlight {
    color: goldenrod;
}

.functions-highlight-background {
    background-color: rgba(218, 165, 32, 0.5);
}

.main-cell-certain-times-values,
.main-cell-uncertain-times-values,
.main-cell-project-times-values,
.main-cell-course-times-values,
.main-cell-function-times-values {
    width:50px;
    /*border: 1px solid black;*/
    text-align: center;
}

.main-cell-times-values-changed {
    width:50px;
    /*border: 1px solid black;*/
    text-align: center;
    background-color: darkgoldenrod;
}
