.common-accordion-button-text {
    text-align: center !important;
}

.accordion-item, .accordion-button  {
    border-radius: 0 !important;
}

.common-border-radius {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.btn-page-head {
    border-radius: 4px;
    margin: 4px;
    padding: 20px;
    background-color: #289345;
    height: 45px;
}

.btn-page-head:hover {background: #165a3d;}

.dropdown-item-down {
    background-color: #289345;
}

.dropdown-item-down:hover {
    background-color: #165a3d;
}