<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title th:text="#{view.employee_detail.title} + ' ' + ${employee.getLastName()}"></title>

    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <!-- bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/navbar}">Navbar</div>

<div class="container-fluid employees-body">
    <!-- content -->
    <div class="my-container">
        <!-- alerts -->
        <div th:if="(${(param.edit != null)} and ${(param.edit[0] == 'success')}
        or ${(param.create != null)} and ${(param.create[0] == 'success')}
        or ${(param.delete != null)} or ${(param.subordinate != null)})"
             class="alert alert-success alert-dismissible fade show">
            <strong th:if="${(param.edit != null)} and ${(param.edit[0] == 'success')}" th:text="#{view.employee.alert.edit.success}"></strong>
            <strong th:if="${(param.create != null)}" th:text="#{view.employee.alert.create}"></strong>
            <strong th:if="${(param.subordinate != null)}" th:text="#{view.employee.alert.subordinate}"></strong>
            <strong th:if="${(param.delete != null)}" th:text="#{not-implemented}"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div th:if="(${(param.edit != null)} and ${(param.edit[0] == 'failure')}
        or ${(param.create != null)} and ${(param.create[0] == 'failure')})"
             class="alert alert-danger alert-dismissible fade show">
            <strong th:if="${(param.edit != null)} and ${(param.edit[0] == 'failure')}" th:text="#{view.employee.alert.edit.failure}"></strong>
            <strong th:if="${(param.create != null)}" th:text="#{view.employee.alert.create}"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <h1 class="text-center mt-5" th:text="#{view.employee_detail.header} + ' ' + ${employee.getFirstName()} + ' ' + ${employee.getLastName()}"></h1>

        <div class="employee-detail-collapsible-header" style="display: flex">
            <h4>Detail</h4>
        </div>

        <form   method="post"
                th:action="@{'/e/' + ${id} + '/edit'}"
                th:object="${employee}" th:method="POST" novalidate>
            <table class="employee-detail-collapse">
                <tr>
                    <td class="employee-detail-div">
                        <label class="employee-detail-label" for="first_name"
                               th:text="#{view.employee_detail.first_name}" th:required="true"/>
                        <input class="employee-detail-input" type="text"
                               id="first_name" name="first_name" th:field="*{firstName}">
                    </td>
                </tr>
                <tr>
                    <td class="employee-detail-div">
                        <label class="employee-detail-label" for="last_name"
                               th:text="#{view.employee_detail.last_name}" th:required="true"/>
                        <input class="employee-detail-input" type="text"
                               id="last_name" name="last_name" th:field="*{lastName}">
                    </td>
                </tr>
                <tr>
                    <td class="employee-detail-div">
                        <label class="employee-detail-label" for="orion_login"
                               th:text="#{view.employee_detail.orion_login}" th:required="true"/>
                        <input class="employee-detail-input" type="text"
                               id="orion_login" name="orion_login" th:field="*{orionLogin}">
                    </td>
                </tr>
                <tr>
                    <td class="employee-detail-div">
                        <label class="employee-detail-label" for="workplace"
                               th:text="#{view.employee_detail.workplace}" th:required="true"/>
                        <select class="employee-detail-input"
                                id="workplace" name="workplace" th:field="*{workplaceId}">
                            <option th:each="wrk : ${workplaces}"
                                    th:value="${wrk.getId()}" th:text="${wrk.getFullName()}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="employee-detail-div">
                        <label class="employee-detail-label" for="email"
                               th:text="#{view.employee_detail.email}" th:required="true"/>
                        <input class="employee-detail-input" type="text"
                               id="email" name="email" th:field="*{emailAddress}">
                    </td>
                </tr>
                <tr>
                    <td class="employee-detail-div">
                        <label class="employee-detail-label" for="introduced"
                               th:text="#{view.employee_detail.introduced}" th:required="true"/>
                        <input class="employee-detail-input" type="date"
                               id="introduced" name="introduced" th:field="${employee.dateCreated}">
                    </td>
                </tr>
                <tr>
                    <td class="employee-detail-div">
                        <label class="employee-detail-label" for="description"
                               th:text="#{view.employee_detail.description}"/>
                        <textarea contenteditable class="employee-text-area" type="text"
                                  th:rows="${employee.getDescription().length() / 100}" th:cols="100"
                                  id="description" name="description" th:field="*{description}"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="flex-duo">
                        <input id="form-submit" class="employee-detail-btn"
                               th:attr="onclick=|return empty('#{view.employee_detail.submit.empty}')|"
                               th:formaction="'/e/' + ${id} + '/edit'" type="submit"
                               th:value="#{view.employee_detail.submit}">
                        <!-- an delete button link -->
                        <input id="form-delete" class="employee-detail-btn"
                               th:formaction="'/e/' + ${id} + '/delete'" type="submit"
                               th:value="#{view.employee_detail.delete}"
                               th:data-confirm-delete="#{view.employee_detail.delete.confirm}"
                               onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                    </td>
                </tr>
            </table>
        </form>
        <div class="table">
            <th:block th:if="${projects.size()} > 0 or ${courses.size()} > 0 or ${functions.size()} > 0">
                <h2 class="text-center mt-5" th:text="#{view.employee_detail.activity.header}"></h2>

                <th:block th:if="${projects.size()} > 0">
                    <h3 class="text-center mt-5" th:text="#{view.employee_detail.activity.projects.header}"></h3>

                    <table class="employee-detail-projects-table">
                        <thead>
                        <tr class="employee-detail-tr">
                            <td class="employee-name" th:text="#{view.employee_detail.activity.projects_table.name}"></td>
                            <td class="employee-cell" th:text="#{view.employee_detail.activity.projects_table.supervisor}"></td>
                            <td class="employee-cell" th:text="#{view.employee_detail.activity.projects_table.role}"></td>
                            <td class="employee-cell employee-date" th:text="#{view.employee_detail.activity.projects_table.from}"></td>
                            <td class="employee-cell employee-date" th:text="#{view.employee_detail.activity.projects_table.until}"></td>
                            <td class="employee-cell" th:text="#{view.employee_detail.activity.projects_table.current-time}"></td>
                            <td class="employee-cell" th:text="#{view.employee_detail.activity.projects_table.certain}"></td>
                            <td class="employee-cell employee-detail-table-description" th:text="#{view.employee_detail.activity.projects_table.description}"></td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="pro, proStats: ${projects}">
                            <!-- Project-->
                            <tr class="employee-detail-tr employee-projects-times">
                                <td class="employee-name" th:rowspan="${pro.getProjectAllocations().size() + 1}" th:text="${pro.getName()}"></td>
                                <td class="employee-cell" th:rowspan="${pro.getProjectAllocations().size() + 1}" th:text="${pro.getProjectManager().getLastName()}"></td>
                                <th:block>
                                    <form method="post"
                                          th:action="@{'/a/' + ${firstProjectsAllocations.get(proStats.index).getId()}}"
                                          th:object="${firstProjectsAllocations.get(proStats.index)}" th:method="POST" novalidate>
                                        <th:block>
                                            <td class="employee-cell">
                                                <label>
                                                    <input class="project-allocations-input" type="text"
                                                           th:value="*{role}" readonly="readonly">
                                                </label>
                                            </td>
                                            <td class="employee-cell employee-date">
                                                <label>
                                                    <input class="project-allocations-input" type="text"
                                                           th:value="*{#dates.format(dateFrom, 'dd-MM-yyyy')}" readonly="readonly">
                                                </label>
                                            </td>
                                            <td class="employee-cell employee-date">
                                                <label>
                                                    <input class="project-allocations-input" type="text"
                                                           th:value="*{#dates.format(dateUntil, 'dd-MM-yyyy')}" readonly="readonly">
                                                </label>
                                            </td>
                                            <td class="employee-cell">
                                                <label>
                                                    <input class="project-allocations-input" type="text"
                                                           th:value="*{time}" readonly="readonly">
                                                </label>
                                            </td>
                                            <td class="employee-cell">
                                                <label>
                                                    <input class="project-allocations-input" type="text"
                                                           th:value="*{isCertain}" readonly="readonly">
                                                </label>
                                            </td>
                                            <td class="employee-cell  employee-detail-table-description">
                                                <label>
                                                    <input class="project-allocations-input" type="text"
                                                           th:value="*{description}" readonly="readonly">
                                                </label>
                                            </td>
                                        </th:block>
                                        <td>
                                            <button class="btn btn-confirm" th:formaction="'/a/' + ${id} + '/edit'"></button>
                                        </td>
                                        <td>
                                            <button class="btn btn-edit" type="button"></button>
                                        </td>
                                        <td>
                                            <button class="btn btn-cancel" type="button"></button>
                                        </td>
                                        <td>
                                            <button class="btn btn-delete" type="button"></button>
                                        </td>
                                    </form>
                                </th:block>
                            </tr>
                            <th:block th:each="all, allStat : ${pro.getProjectAllocations()}">
                                <tr class="employee-detail-tr employee-projects-times">
                                    <th:block>
                                        <form method="post"
                                              th:action="@{'/a/' + ${all.id}}"
                                              th:object="${all}" th:method="POST" novalidate>
                                            <th:block>
                                                <td class="employee-cell">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{role}" readonly="readonly">
                                                    </label>
                                                </td>
                                                <td class="employee-cell employee-date">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{#dates.format(dateFrom, 'dd-MM-yyyy')}" readonly="readonly">
                                                    </label>
                                                </td>
                                                <td class="employee-cell employee-date">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{#dates.format(dateUntil, 'dd-MM-yyyy')}" readonly="readonly">
                                                    </label>
                                                </td>
                                                <td class="employee-cell">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{time}" readonly="readonly">
                                                    </label>
                                                </td>
                                                <td class="employee-cell">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{isCertain}" readonly="readonly">
                                                    </label>
                                                </td>
                                                <td class="employee-cell  employee-detail-table-description">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{description}" readonly="readonly">
                                                    </label>
                                                </td>
                                            </th:block>
                                            <td>
                                                <button class="btn btn-confirm" th:formaction="'/a/' + ${id} + '/edit'"></button>
                                            </td>
                                            <td>
                                                <button class="btn btn-edit" type="button"></button>
                                            </td>
                                            <td>
                                                <button class="btn btn-cancel" type="button"></button>
                                            </td>
                                            <td>
                                                <button class="btn btn-delete" type="button"></button>
                                            </td>
                                        </form>
                                    </th:block>
                                </tr>
                            </th:block>
                        </th:block>
                        </tbody>
                    </table>
                </th:block>

                <th:block th:if="${courses.size()} > 0">
                    <h3 class="text-center mt-5" th:text="#{view.employee_detail.activity.courses.header}"></h3>

                    <table class="employee-detail-courses-table">
                        <thead>
                        <tr class="employee-detail-tr">
                            <td class="employee-name" th:text="#{view.employee_detail.activity.course_table.name}"></td>
                            <td class="employee-cell" th:text="#{view.employee_detail.activity.course_table.supervisor}"></td>
                            <td class="employee-cell" th:text="#{view.employee_detail.activity.course_table.role}"></td>
                            <td class="employee-cell employee-date" th:text="#{view.employee_detail.activity.course_table.from}"></td>
                            <td class="employee-cell employee-date" th:text="#{view.employee_detail.activity.course_table.until}"></td>
                            <td class="employee-cell" th:text="#{view.employee_detail.activity.course_table.current-time}"></td>
                            <td class="employee-cell" th:text="#{view.employee_detail.activity.course_table.certain}"></td>
                            <td class="employee-cell employee-detail-table-description" th:text="#{view.employee_detail.activity.course_table.description}"></td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="crs, crsStats: ${courses}">
                            <!-- Employee-->
                            <tr class="employee-detail-tr employee-courses-times">
                                <td class="employee-name" th:rowspan="${crs.getCourseAllocations().size() + 1}" th:text="${crs.getName()}"></td>
                                <td class="employee-cell" th:rowspan="${crs.getCourseAllocations().size() + 1}" th:text="${crs.getCourseManager().getLastName()}"></td>
                                <th:block>
                                    <form method="post"
                                          th:action="@{'/a/' + ${firstCoursesAllocations.get(crsStats.index).getId()}}"
                                          th:object="${firstCoursesAllocations.get(crsStats.index)}" th:method="POST" novalidate>
                                        <th:block>
                                            <td class="employee-cell">
                                                <label>
                                                    <input class="project-allocations-input" type="text"
                                                           th:value="*{role}" readonly="readonly">
                                                </label>
                                            </td>
                                            <td class="employee-cell employee-date">
                                                <label>
                                                    <input class="project-allocations-input" type="text"
                                                           th:value="*{#dates.format(dateFrom, 'dd-MM-yyyy')}" readonly="readonly">
                                                </label>
                                            </td>
                                            <td class="employee-cell employee-date">
                                                <label>
                                                    <input class="project-allocations-input" type="text"
                                                           th:value="*{#dates.format(dateUntil, 'dd-MM-yyyy')}" readonly="readonly">
                                                </label>
                                            </td>
                                            <td class="employee-cell">
                                                <label>
                                                    <input class="project-allocations-input" type="text"
                                                           th:value="*{time}" readonly="readonly">
                                                </label>
                                            </td>
                                            <td class="employee-cell">
                                                <label>
                                                    <input class="project-allocations-input" type="text"
                                                           th:value="*{isCertain}" readonly="readonly">
                                                </label>
                                            </td>
                                            <td class="employee-cell  employee-detail-table-description">
                                                <label>
                                                    <input class="project-allocations-input" type="text"
                                                           th:value="*{description}" readonly="readonly">
                                                </label>
                                            </td>
                                        </th:block>
                                        <td>
                                            <button class="btn btn-confirm" th:formaction="'/a/' + ${id} + '/edit'"></button>
                                        </td>
                                        <td>
                                            <button class="btn btn-edit" type="button"></button>
                                        </td>
                                        <td>
                                            <button class="btn btn-cancel" type="button"></button>
                                        </td>
                                        <td>
                                            <button class="btn btn-delete" type="button"></button>
                                        </td>
                                    </form>
                                </th:block>
                            </tr>
                            </tr>
                            <th:block th:each="all : ${crs.getCourseAllocations()}">
                                <tr class="employee-detail-tr employee-courses-times">
                                    <td class="employee-name"></td>
                                    <td class="employee-cell"></td>
                                    <th:block>
                                        <form method="post"
                                              th:action="@{'/a/' + ${all.id}}"
                                              th:object="${all}" th:method="POST" novalidate>
                                            <th:block>
                                                <td class="employee-cell">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{role}" readonly="readonly">
                                                    </label>
                                                </td>
                                                <td class="employee-cell employee-date">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{#dates.format(dateFrom, 'dd-MM-yyyy')}" readonly="readonly">
                                                    </label>
                                                </td>
                                                <td class="employee-cell employee-date">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{#dates.format(dateUntil, 'dd-MM-yyyy')}" readonly="readonly">
                                                    </label>
                                                </td>
                                                <td class="employee-cell">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{time}" readonly="readonly">
                                                    </label>
                                                </td>
                                                <td class="employee-cell">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{isCertain}" readonly="readonly">
                                                    </label>
                                                </td>
                                                <td class="employee-cell  employee-detail-table-description">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{description}" readonly="readonly">
                                                    </label>
                                                </td>
                                            </th:block>
                                            <td>
                                                <button class="btn btn-confirm" th:formaction="'/a/' + ${id} + '/edit'"></button>
                                            </td>
                                            <td>
                                                <button class="btn btn-edit" type="button"></button>
                                            </td>
                                            <td>
                                                <button class="btn btn-cancel" type="button"></button>
                                            </td>
                                            <td>
                                                <button class="btn btn-delete" type="button"></button>
                                            </td>
                                        </form>
                                    </th:block>
                                </tr>
                            </th:block>
                        </th:block>
                        </tbody>
                    </table>
                </th:block>

                <h3 class="text-center mt-5" th:text="#{view.employee_detail.activity.functions.header}"></h3>

                <th:block th:if="${functions.size()} > 0">
                    <table class="employee-detail-functions-table">
                        <thead>
                        <tr class="employee-detail-tr">
                            <td class="employee-name" th:text="#{view.employee_detail.activity.functions_table.name}"></td>
                            <td class="employee-cell" th:text="#{view.employee_detail.activity.functions_table.supervisor}"></td>
                            <td class="employee-cell" th:text="#{view.employee_detail.activity.functions_table.role}"></td>
                            <td class="employee-cell employee-date" th:text="#{view.employee_detail.activity.functions_table.from}"></td>
                            <td class="employee-cell employee-date" th:text="#{view.employee_detail.activity.functions_table.until}"></td>
                            <td class="employee-cell" th:text="#{view.employee_detail.activity.functions_table.current-time}"></td>
                            <td class="employee-cell" th:text="#{view.employee_detail.activity.functions_table.certain}"></td>
                            <td class="employee-cell employee-detail-table-description" th:text="#{view.employee_detail.activity.functions_table.description}"></td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="fnc, iStat : ${functions}">
                            <!-- Employee-->
                            <th:block th:if="${firstFunctionsAllocations.get(iStat.index).getTime >= 0}">
                                <tr class="employee-detail-tr employee-functions-times">
                                    <td class="employee-name" th:rowspan="${fnc.getFunctionAllocations().size() + 1}" th:text="${fnc.getName()}"></td>
                                    <td class="employee-cell" th:rowspan="${fnc.getFunctionAllocations().size() + 1}" th:text="${fnc.getFunctionManager().getLastName()}"></td>
                                    <th:block>
                                        <form method="post"
                                              th:action="@{'/a/' + ${firstFunctionsAllocations.get(iStat.index).getId()}}"
                                              th:object="${firstFunctionsAllocations.get(iStat.index)}" th:method="POST" novalidate>
                                            <th:block>
                                                <td class="employee-cell">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{role}" readonly="readonly">
                                                    </label>
                                                </td>
                                                <td class="employee-cell employee-date">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{#dates.format(dateFrom, 'dd-MM-yyyy')}" readonly="readonly">
                                                    </label>
                                                </td>
                                                <td class="employee-cell employee-date">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{#dates.format(dateUntil, 'dd-MM-yyyy')}" readonly="readonly">
                                                    </label>
                                                </td>
                                                <td class="employee-cell">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{time}" readonly="readonly">
                                                    </label>
                                                </td>
                                                <td class="employee-cell">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{isCertain}" readonly="readonly">
                                                    </label>
                                                </td>
                                                <td class="employee-cell  employee-detail-table-description">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:value="*{description}" readonly="readonly">
                                                    </label>
                                                </td>
                                            </th:block>
                                            <td>
                                                <button class="btn btn-confirm" th:formaction="'/a/' + ${id} + '/edit'"></button>
                                            </td>
                                            <td>
                                                <button class="btn btn-edit" type="button"></button>
                                            </td>
                                            <td>
                                                <button class="btn btn-cancel" type="button"></button>
                                            </td>
                                            <td>
                                                <button class="btn btn-delete" type="button"></button>
                                            </td>
                                        </form>
                                    </th:block>
                                </tr>
                                <th:block th:each="all, allStats : ${fnc.getFunctionAllocations()}">
                                    <form method="post"
                                      th:action="@{'/a/' + ${all.id} + '/edit'}">
                                        <th:block>
                                            <tr class="employee-detail-tr employee-functions-times">
                                                <td class="employee-cell">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               th:name="role" th:value="${all.role}" readonly="readonly">
                                                    </label>
                                                </td>
                                                <td class="employee-cell">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               readonly="readonly" th:name="dateFrom"
                                                               th:value="${#dates.format(all.dateFrom, 'dd-MM-yyyy')}">
                                                    </label>
                                                </td>
                                                <td class="employee-cell">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               readonly="readonly" th:name="dateUntil"
                                                               th:value="${#dates.format(all.dateFrom, 'dd-MM-yyyy')}">
                                                    </label>
                                                </td>
                                                <td class="employee-cell">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               readonly="readonly" th:name="time"
                                                               th:value="${all.time}">
                                                    </label>
                                                </td>
                                                <td class="employee-cell">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               readonly="readonly" th:name="isCertain"
                                                               th:value="${all.isCertain}">
                                                    </label>
                                                </td>
                                                <td class="employee-cell">
                                                    <label>
                                                        <input class="project-allocations-input" type="text"
                                                               readonly="readonly" th:name="description"
                                                               th:value="${all.description}">
                                                    </label>
                                                </td>
                                                <td>
                                                    <button class="btn btn-confirm" type="submit"
                                                            th:formaction="'/a/' + ${id} + '/edit'"></button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-edit" th:id="${allStats.index}" type="button"></button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-cancel" th:id="${allStats.index}" type="button"></button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-delete" type="button"></button>
                                                </td>
                                                <td>
                                                    <label>
                                                        <input class="course-table-detail-input" style="display : none"
                                                               th:id="${allStats.index}" th:name="employeeId" th:value="${employee.id}">
                                                    </label>
                                                </td>
                                            </tr>
                                        </th:block>
                                    </form>
                                </th:block>
                            </th:block>
                        </th:block>
                        </tbody>
                    </table>
                </th:block>
            </th:block>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer}">Footer</div>
</body>

<script th:inline="javascript">
    let employee = document.querySelectorAll(".employee-detail-collapsible-header");

    Array.from(employee).forEach(function(div) {
        let button = document.createElement("button");
        button.className = "btn collapsible btn-dropdown employee-detail-collapse-btn";
        button.addEventListener("click", function(evt) {
            let collapse = document.getElementsByClassName("employee-detail-collapse");
            if (collapse[0].style.visibility === "visible") {
                collapse[0].style.visibility = "collapse";
            } else {
                collapse[0].style.visibility = "visible";
            }
            if (this.classList.contains("btn-dropdown")) {
                this.classList.remove("btn-dropdown");
                this.classList.add("btn-dropdown-clicked");
            } else {
                this.classList.add("btn-dropdown");
                this.classList.remove("btn-dropdown-clicked");
            }
        });
        div.append(button);
    });
</script>

<script>
    let employees = /*[[${employees}]]*/ 'default';
    let projects_times = document.getElementsByClassName("employee-projects-times");
    let courses_times = document.getElementsByClassName("employee-coures-times");
    let functions_times = document.getElementsByClassName("employee-funtions-times");
    let index = 0;
    const opts = { minimumFractionDigits: 1 };
    let year_offsets = {};
    console.log('employees: ' + employees.length);
    for (let i = 0; i < employees.length; ++i)
        year_offsets[i] = 0;


    Array.from(projects_times).forEach(function(trArray) {
        if (employees.length > index && employees[index].projectsAllocationCells.length > 0) {
            let last = employees[index].projectsAllocationCells[0][0].time;
            for (let j = 0; j < 12; ++j) {
                let td = document.createElement("td");
                if (last !== employees[index].projectsAllocationCells[0][j].time) {
                    last = employees[index].projectsAllocationCells[0][j].time;
                    td.className = "project-cell-times-values project-cell-times-values-changed";
                } else
                    td.className = "project-cell-times-values";
                td.innerHTML = (employees[index].projectsAllocationCells[0][j].time)
                    .toLocaleString(undefined, opts).replace(',', '.');
                trArray.append(td);
            }
            let td = document.createElement("td");
            td.className = "project-detail-table-cell";
            trArray.append(td);
        }
        index++;
    });

    let project_allocations = document.getElementsByClassName("project-allocations");
    Array.from(project_allocations).forEach(function(trArray) {
        let buttonsEdit = document.getElementsByClassName("btn-edit");
        let buttonsConfirm = document.getElementsByClassName("btn-confirm");
        let buttonsCancel = document.getElementsByClassName("btn-cancel");
        for (let i = 0; i < buttonsEdit.length; ++i) {
            buttonsEdit[i].addEventListener("click", function(evt) {
                let tds = trArray.getElementsByClassName("project-allocations-input");
                Array.from(tds).forEach(function(td) {
                    td.removeAttribute("readonly");
                    buttonsConfirm[i].style.visibility = "visible";
                    buttonsCancel[i].style.visibility = "visible";
                    buttonsEdit[i].style.visibility = "hidden";
                });
            });

            buttonsConfirm[i].addEventListener("click", function(evt) {
                let tds = trArray.getElementsByClassName("project-allocations-input");
                Array.from(tds).forEach(function(td) {
                    td.setAttribute('readonly', 'readonly');
                    buttonsConfirm[i].style.visibility = 'hidden';
                    buttonsCancel[i].style.visibility = 'hidden';
                    buttonsEdit[i].style.visibility = 'visible';
                });
            });

            buttonsCancel[i].addEventListener("click", function(evt) {
                let tds = trArray.getElementsByClassName("project-allocations-input");
                Array.from(tds).forEach(function(td) {
                    td.setAttribute('readonly', 'readonly');
                    buttonsConfirm[i].style.visibility = 'hidden';
                    buttonsCancel[i].style.visibility = 'hidden';
                    buttonsEdit[i].style.visibility = 'visible'
                });
            });
        }
    });

    function empty(message) {
        var x;
        console.log(message);
        x = document.getElementById("first_name").value;
        if (x === "") {
            window.location.replace(location.protocol + '//' + location.host + location.pathname + '?edit=failure');
            return false;
        }
        x = document.getElementById("last_name").value;
        if (x === "") {
            window.location.replace(location.protocol + '//' + location.host + location.pathname + '?edit=failure');
            return false;
        }
        x = document.getElementById("orion_login").value;
        if (x === "") {
            window.location.replace(location.protocol + '//' + location.host + location.pathname + '?edit=failure');
            return false;
        }
        x = document.getElementById("from").value;
        if (x === "") {
            window.location.replace(location.protocol + '//' + location.host + location.pathname + '?edit=failure');
            return false;
        }
        x = document.getElementById("workplace").value;
        if (x === "") {
            window.location.replace(location.protocol + '//' + location.host + location.pathname + '?edit=failure');
            return false;
        }
        x = document.getElementById("email").value;
        if (x === "") {
            window.location.replace(location.protocol + '//' + location.host + location.pathname + '?edit=failure');
            return false;
        }
    }
</script>

</html>