<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title th:text="#{view.project_detail.title} + ' ' + ${project.getName()}"></title>

    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <!-- bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/navbar}">Navbar</div>

<div class="container-fluid content">
    <!-- content -->
    <div class="container">
        <!-- alerts -->
        <div th:if="(${(param.edit != null)} and ${(param.edit[0] == 'success')}
        or ${(param.create != null)} and ${(param.create[0] == 'success')}
        or ${(param.delete != null)} or ${(param.subordinate != null)})"
             class="alert alert-success alert-dismissible fade show">
            <strong th:if="${(param.edit != null)} and ${(param.edit[0] == 'success')}" th:text="#{view.project.alert.edit.success}"></strong>
            <strong th:if="${(param.create != null)}" th:text="#{view.project.alert.create}"></strong>
            <strong th:if="${(param.delete != null)}" th:text="#{not-implemented}"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div th:if="(${(param.edit != null)} and ${(param.edit[0] == 'failure')}
        or ${(param.create != null)} and ${(param.create[0] == 'failure')})"
             class="alert alert-danger alert-dismissible fade show">
            <strong th:if="${(param.edit != null)} and ${(param.edit[0] == 'failure')}" th:text="#{view.project.alert.edit.failure}"></strong>
            <strong th:if="${(param.create != null)}" th:text="#{view.project.alert.create}"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <h1 class="text-center mt-5" th:text="#{view.project_detail.header} + ' ' + ${project.getName()}"></h1>

        <div class="project-detail-collapsible-header" style="display: flex">
            <h4>Detail</h4>
        </div>

        <form   method="post"
                th:action="@{'/p/' + ${id} + '/edit'}"
                th:object="${project}" th:method="POST" novalidate>
            <table class="project-detail-collapse">
                <tr>
                    <td class="project-detail-div">
                        <label class="project-detail-label" for="name"
                               th:text="#{view.project_detail.name}" th:required="true"/>
                        <input class="project-detail-input" type="text" onchange="onRequiredDetailChange(this)"
                               id="name" name="name" th:field="*{name}">
                    </td>
                </tr>
                <tr>
                    <td class="project-detail-div">
                        <label class="project-detail-label" for="state"
                               th:text="#{view.project_detail.state}" th:required="true"/>
                        <select class="project-detail-input"
                                id="state" name="state" th:field="*{state}">
                            <option th:each="state : ${states}" th:value="${state.getValue()}"
                                    th:text="${state.getValue()}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="project-detail-div">
                        <label class="project-detail-label" for="from"
                               th:text="#{view.project_detail.from}" th:required="true"/>
                        <input class="project-detail-input" type="date" onchange="onRequiredDetailChange(this)"
                               id="from" name="from" th:field="*{dateFrom}">
                    </td>
                </tr>
                <tr>
                    <td class="project-detail-div">
                        <label class="project-detail-label" for="until"
                               th:text="#{view.project_detail.until}" th:required="true"/>
                        <input class="project-detail-input" type="date" onchange="onRequiredDetailChange(this)"
                               id="until" name="until" th:field="*{dateUntil}">
                    </td>
                </tr>
                <tr>
                    <td class="project-detail-div">
                        <label class="project-detail-label" for="manager"
                               th:text="#{view.project_detail.director}" th:required="true"/>
                        <select class="project-detail-input"
                                id="manager" name="manager" th:field="*{projectManagerId}">
                            <option th:each="mng : ${employees}" th:value="${mng.getId()}"
                                    th:text="${mng.getLastName()} + ' ' + ${mng.getFirstName()}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="project-detail-div">
                        <label class="project-detail-label" for="workplace"
                               th:text="#{view.project_detail.workplace}" th:required="true"/>
                        <select class="project-detail-input"
                                id="workplace" name="workplace" th:field="*{workplaceId}">
                            <option th:each="wrk : ${workplaces}" th:value="${wrk.getId()}"
                                    th:text="${wrk.getFullName()}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="project-detail-div">
                        <label class="project-detail-label" for="total_time"
                               th:text="#{view.project_detail.total_time}" th:required="true"/>
                        <input class="project-detail-input" type="number" onchange="onRequiredDetailChange(this)"
                               id="total_time" name="total_time" th:field="*{totalTime}">
                    </td>
                </tr>
                <tr>
                    <td class="project-detail-div">
                        <label class="project-detail-label" for="agency"
                               th:text="#{view.project_detail.agency}"/>
                        <input class="project-detail-input" type="text"
                               id="agency" name="agency" th:field="*{agency}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="project-detail-label" for="grant_title"
                               th:text="#{view.project_detail.grant_title}"/>
                        <input class="project-detail-input" type="text"
                               id="grant_title" name="grant_title" th:field="*{grantTitle}">
                    </td>
                </tr>
                <tr>
                    <td class="project-detail-div">
                        <label class="project-detail-label" for="call_year"
                               th:text="#{view.project_detail.call_year}"/>
                        <input class="project-detail-input" type="text" onchange="onRequiredDetailChange(this)"
                               id="call_year" name="call_year" th:value="*{#dates.year(dateFrom)}">
                    </td>
                </tr>
                <tr>
                    <td class="project-detail-div">
                        <h4 th:text="#{view.project_detail.finance}"/>
                    </td>
                </tr>
                <tr>
                    <td class="project-detail-div">
                        <label class="project-detail-label" for="budget"
                               th:text="#{view.project_detail.budget}"/>
                        <input class="project-detail-input" type="number"
                               id="budget" name="budget" th:field="*{budget}">
                    </td>
                </tr>
                <tr>
                    <td class="project-detail-div">
                        <label class="project-detail-label" for="budget_participation"
                               th:text="#{view.project_detail.budget_participation}"/>
                        <input class="project-detail-input" type="number"
                               id="budget_participation" name="budget_participation" th:field="*{budgetParticipation}">
                    </td>
                </tr>
                <tr>
                    <td class="project-detail-div">
                        <label class="project-detail-label" for="description"
                               th:text="#{view.project_detail.description}"/>
                        <textarea contenteditable class="project-text-area" type="text"
                                  th:rows="10" th:cols="100"
                                  id="description" name="description" th:field="*{description}"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="flex-duo">
                        <input id="form-submit" class="project-detail-btn form-submit"
                               th:formaction="'/p/' + ${id} + '/edit'" type="submit"
                               th:value="#{view.project_detail.submit}">
                        <!-- an delete button link -->
                        <input id="form-delete" class="project-detail-btn"
                               th:formaction="'/p/' + ${id} + '/delete'" type="submit"
                               th:value="#{view.project_detail.delete}"
                               th:data-confirm-delete="#{view.project_detail.delete.confirm}"
                               onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                    </td>
                </tr>
            </table>
        </form>

        <div>
            <!-- Members of project -->
            <h4 th:text="#{view.project_detail.members.title}"/>
            <div class="table">
                <table class="table table-add">
                    <thead>
                    <tr align="right">
                        <td colspan="15" align="right">
                            <button class="btn btn-add" type="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="project-allocations-header project-allocations-cell-name"
                            th:text="#{view.project_detail.members.table.name}" required="required"></td>
                        <td class="project-allocations-header"
                            th:text="#{view.project_detail.members.table.role}" required="required"></td>
                        <td class="project-allocations-header"
                            th:text="#{view.project_detail.members.table.from}" required="required"></td>
                        <td class="project-allocations-header"
                            th:text="#{view.project_detail.members.table.until}" required="required"></td>
                        <td class="project-allocations-header"
                            th:text="#{view.project_detail.members.table.current-time}" required="required"></td>
                        <td class="project-allocations-header"
                            th:text="#{view.project_detail.members.table.probability}" required="required"></td>
                        <td class="project-allocations-header"
                            th:text="#{view.project_detail.members.table.description}"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="all, allStats : ${allocations}">
                        <!-- Allocations-->
                        <form method="post"
                              th:action="@{'/a/' + ${all.id} + '/edit/p/' + ${id}}"
                              th:object="${all}" th:method="POST" novalidate>
                            <th:block>
                                <div>
                                    <tr class="project-allocations" th:id="${allStats.index}">
                                        <td class="project-allocations-cell project-allocations-cell-name project-allocations-select-empty">
                                            <label>
                                                <select class="project-allocations-select" disabled='disabled'
                                                        th:id="'allocationSelect' + ${allStats.index}">
                                                    <option th:each="emp : ${employees}" th:value="${emp.getId()}"
                                                            th:text="${emp.getLastName()} + ' ' + ${emp.getFirstName()}"
                                                            th:selected="${emp.getId() eq all.getWorkerId}">
                                                    </option>
                                                </select>
                                            </label>
                                        </td>
                                        <td class="project-allocations-cell">
                                            <label>
                                                <input class="project-allocations-input"
                                                       type="text" readonly="readonly" th:onchange="'onRequiredAllocationChange(this, ' + ${allStats.index} + ')'"
                                                       th:name="role" th:value="*{role}">
                                            </label>
                                        </td>
                                        <td class="project-allocations-cell">
                                            <label>
                                                <input class="project-allocations-input" type="date"
                                                       th:name="dateFrom" readonly="readonly"
                                                       th:value="*{dateFrom}" th:onchange="'onRequiredAllocationChange(this, ' + ${allStats.index} + ')'">
                                            </label>
                                        </td>
                                        <td class="project-allocations-cell">
                                            <label>
                                                <input class="project-allocations-input" type="date"
                                                       th:name="dateUntil" readonly="readonly"
                                                       th:value="*{dateUntil}" th:onchange="'onRequiredAllocationChange(this, ' + ${allStats.index} + ')'">
                                            </label>
                                        </td>
                                        <td class="project-allocations-cell">
                                            <label>
                                                <input class="project-allocations-input" type="text"
                                                       th:name="time" readonly="readonly"
                                                       th:value="*{allocationScope}" th:onchange="'onRequiredAllocationChange(this, ' + ${allStats.index} + ')'">
                                            </label>
                                        </td>
                                        <td class="project-allocations-cell">
                                            <label>
                                                <input class="project-allocations-input" type="text"
                                                       th:name="isCertain" th:value="*{isCertain}"
                                                       readonly="readonly" th:onchange="'onRequiredAllocationChange(this, ' + ${allStats.index} + ')'">
                                            </label>
                                        </td>
                                        <td class="project-allocations-cell">
                                            <label>
                                                <input class="project-allocations-input" type="text"
                                                       th:name="description" readonly="readonly"
                                                       th:value="*{description}">
                                            </label>
                                        </td>
                                        <td>
                                            <button class="btn btn-confirm"
                                                    th:attr="onclick=|return checkAllocation('${allStats.index}')|"
                                                    type="submit" th:formaction="'/a/' + ${all.id} + '/edit/p/' + ${id} + '/' + ${all.workerId}"></button>
                                        </td>
                                        <td>
                                            <label>
                                                <input type="text" name="projectId"  style="display : none"
                                                       th:value="*{id}" disabled="disabled">
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input type="number" th:id="'workerId' + ${allStats.index}" name="workerId" style="display : none"
                                                       th:value="*{workerId}" disabled="disabled">
                                            </label>
                                        </td>
                                        <td>
                                            <button class="btn btn-cancel" type="button"></button>
                                        </td>
                                        <td>
                                            <button class="btn btn-edit" type="button"></button>
                                        </td>
                                        <td>
                                            <button class="btn btn-delete" type="submit"
                                                   th:formaction="'/a/' + ${all.id} + '/delete/p/' + ${id}"
                                                   th:data-confirm-delete="#{view.project_detail.delete_allocation.confirm}"
                                                    onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"></button>
                                        </td>
                                    </tr>
                                </div>
                            </th:block>
                        </form>
                    </th:block>
                    <!-- Newly added allocation-->
                    <form method="post"
                          th:action="@{'/a/create/project' + ${id} + '/' + ${newAllocation.workerId}}"
                          th:object="${newAllocation}" th:method="POST" novalidate>
                        <th:block>
                            <tr class="project-allocation-new project-allocation-new-hidden">
                                <td class="project-allocations-cell project-allocations-cell-name">
                                    <label>
                                        <select class="project-allocations-select" th:field="*{workerId}"
                                                disabled="disabled" id="workerId" name="workerId">
                                            <option th:each="emp : ${employees}" th:value="${emp.getId()}"
                                                    th:text="${emp.getLastName()} + ' ' + ${emp.getFirstName()}">
                                            </option>
                                        </select>
                                    </label>
                                </td>
                                <td class="project-allocations-cell">
                                    <label>
                                        <input class="project-allocations-input"
                                               type="text" onchange="onRequiredNewAllocationChange(this)"
                                               th:name="role" th:field="*{role}">
                                    </label>
                                </td>
                                <td class="project-allocations-cell">
                                    <label>
                                        <input class="project-allocations-input"
                                               type="date" onchange="onRequiredNewAllocationChange(this)"
                                               th:name="dateFrom" th:field="*{dateFrom}">
                                    </label>
                                </td>
                                <td class="project-allocations-cell">
                                    <label>
                                        <input class="project-allocations-input"
                                               type="date" onchange="onRequiredNewAllocationChange(this)"
                                               th:name="dateUntil" th:field="*{dateUntil}">
                                    </label>
                                </td>
                                <td class="project-allocations-cell">
                                    <label>
                                        <input class="project-allocations-input" type="text"
                                               th:name="allocationScope" onchange="onRequiredNewAllocationChange(this)"
                                               th:field="*{allocationScope}">
                                    </label>
                                </td>
                                <td class="project-allocations-cell">
                                    <label>
                                        <input class="project-allocations-input"
                                               type="text" onchange="onRequiredNewAllocationChange(this)"
                                               th:name="isCertain" th:field="*{isCertain}">
                                    </label>
                                </td>
                                <td class="project-allocations-cell">
                                    <label>
                                        <input class="project-allocations-input" type="text"
                                               th:name="description"
                                               th:field="*{description}">
                                    </label>
                                </td>
                                <td>
                                    <button class="btn btn-confirm-new-all" type="submit"
                                            style="visibility: visible" th:formaction="'/a/create/project/' + ${id} + '/' + ${newAllocation.workerId}"></button>
                                </td>
                                <td>
                                    <label>
                                        <input type="text" name="projectId"  style="display : none"
                                               field="*{projectId}" th:value="${id}" disabled="disabled">
                                    </label>
                                </td>
                                <td>
                                    <button class="btn btn-cancel-new-all" style="visibility: visible" type="button"></button>
                                </td>
                                <td>
                                    <button class="btn" style="visibility: hidden" type="button"></button>
                                </td>
                                <td>
                                    <button class="btn" style="visibility: hidden" type="button"></button>
                                </td>
                            </tr>
                        </th:block>
                    </form>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Times per months -->
        <h4 th:text="#{view.project_detail.members.title.times-per-months}"/>
        <div class="table">
            <table class="table">
                <thead>
                <tr class="project-row-header">
                    <!-- Labels -->
                    <td class="project-row-year" th:colspan="16" th:id="${0}"></td>
                </tr>
                <tr class="project-row-header">
                    <td style="text-align: left" th:text="#{view.project_detail.members.table.name}"></td>
                    <td class="btn-left"></td>
                    <td class="project-detail-table-cell" th:text="#{month.january}"></td>
                    <td class="project-detail-table-cell" th:text="#{month.february}"></td>
                    <td class="project-detail-table-cell" th:text="#{month.march}"></td>
                    <td class="project-detail-table-cell" th:text="#{month.april}"></td>
                    <td class="project-detail-table-cell" th:text="#{month.may}"></td>
                    <td class="project-detail-table-cell" th:text="#{month.june}"></td>
                    <td class="project-detail-table-cell" th:text="#{month.july}"></td>
                    <td class="project-detail-table-cell" th:text="#{month.august}"></td>
                    <td class="project-detail-table-cell" th:text="#{month.september}"></td>
                    <td class="project-detail-table-cell" th:text="#{month.october}"></td>
                    <td class="project-detail-table-cell" th:text="#{month.november}"></td>
                    <td class="project-detail-table-cell" th:text="#{month.december}"></td>
                    <td class="btn-right"></td>
                </tr>
                </thead>
                <tbody>
                <tr class="project-certain-times">
                    <td class="project-detail-table-cell-name" th:text="#{view.project_detail.members.title.total}"></td>
                    <td class="project-detail-table-cell"></td>
                </tr>
                <tr class="project-uncertain-times">
                    <td class="project-detail-table-cell-name" th:text="#{view.project_detail.members.title.total-uncertain}"></td>
                    <td class="project-detail-table-cell"></td>
                </tr>
                <th:block th:each="allList, allStats: ${monthlyAllocations}">
                    <!-- Employee-->
                    <th:block th:if="${allList.size() > 0}">
                        <tr class="project-detail-times">
                            <td class="project-detail-table-cell-name" th:text="${employees[allStats.index].getLastName()}"></td>
                            <td class="project-detail-table-cell"></td>
                        </tr>
                    </th:block>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer}">Footer</div>
</body>

<script th:inline="javascript">

    // Promenna pro zapis alokaci uzivatelu
    let current_index = 0;

    // Udrzuje hodnotu, zda-li je pridavana nova alokace - zobrazen radek pro vyplneni
    let allocation_being_added = false;

    let project = [[${project}]];

    // Tlacitko pro collapse detailu
    let project_collapse = document.querySelectorAll(".project-detail-collapsible-header");
    Array.from(project_collapse).forEach(function (div) {
        let button = document.createElement("button");
        button.className = "btn collapsible btn-dropdown project-detail-collapse-btn";
        button.addEventListener("click", function (evt) {
            let collapse = document.getElementsByClassName("project-detail-collapse");
            if (collapse[0].style.visibility === "visible") {
                collapse[0].style.visibility = "collapse";
            } else {
                collapse[0].style.visibility = "visible";
            }
            if (this.classList.contains("btn-dropdown")) {
                this.classList.remove("btn-dropdown");
                this.classList.add("btn-dropdown-clicked");
            } else {
                this.classList.add("btn-dropdown");
                this.classList.remove("btn-dropdown-clicked");
            }
        });
        div.append(button);
    });

    // Pole uzivatelu
    let employees = [[${employees}]];

    // Tabulka alokaci projektu
    let project_allocations = document.getElementsByClassName("table-add");

    // Radek nove alokace
    let new_allocation = document.getElementsByClassName("project-allocation-new");

    // Tlacitko pro zobrazeni radku pro vyplneni nove alokace
    let add_button = document.getElementsByClassName("btn-add");
    Array.from(add_button).forEach(function (button) {
        button.addEventListener('click', function () {
            if (!allocation_being_added) {
                allocation_being_added = true;
                Array.from(new_allocation).forEach(function (allocation) {
                    allocation.classList.remove('project-allocation-new-hidden');
                    allocation.classList.add('project-allocation-new-display');
                });
            }
        })
    });

    let trs = document.getElementsByClassName("project-allocations");
    if (trs.length > 0) {
        let select = trs[0].getElementsByClassName("project-allocations-select");
        Array.from(select).forEach(function (td) {
            td.setAttribute('disabled', 'disabled');
        });

        let tds = trs[0].getElementsByClassName("project-allocations-input");
        Array.from(tds).forEach(function (td) {
            td.setAttribute('readonly', 'readonly');
        });
    }

    let allocations = [[${allocations}]];
    Array.from(project_allocations).forEach(function (trArray) {
        let buttonsEdit = document.getElementsByClassName("btn-edit");
        let buttonsConfirm = document.getElementsByClassName("btn-confirm");
        let buttonsConfirmNewAll = document.getElementsByClassName("btn-confirm-new-all");
        let buttonsCancel = document.getElementsByClassName("btn-cancel");
        let buttonsCancelNewAll = document.getElementsByClassName("btn-cancel-new-all");
        let newTr = document.getElementsByClassName("project-allocation-new");
        console.log(newTr.length)
        for (let i = 0; i < newTr.length; ++i) {
            let select = newTr[i].getElementsByClassName("project-allocations-select");
            Array.from(select).forEach(function (td) {
                td.removeAttribute('disabled');
            });

            buttonsConfirmNewAll[i].addEventListener("click", function (evt) {
                if (allocation_being_added)
                    allocation_being_added = false;

                Array.from(new_allocation).forEach(function (allocation) {
                    clearRow(allocation);
                    allocation.classList.remove('project-allocation-new-display');
                    allocation.classList.add('project-allocation-new-hidden');
                });
            });

            buttonsCancelNewAll[i].addEventListener("click", function (evt) {
                console.log('Jsem v cancel.');

                if (allocation_being_added)
                    allocation_being_added = false;

                Array.from(new_allocation).forEach(function (allocation) {
                    clearRow(allocation);
                    allocation.classList.remove('project-allocation-new-display');
                    allocation.classList.add('project-allocation-new-hidden');
                });
            });
        }

        for (let i = 0; i < trs.length; ++i) {
            buttonsEdit[i].addEventListener("click", function (evt) {
                let select = trs[i].getElementsByClassName("project-allocations-select");
                Array.from(select).forEach(function (td) {
                    td.removeAttribute('disabled');
                });

                let tds = trs[i].getElementsByClassName("project-allocations-input");
                Array.from(tds).forEach(function (td) {
                    td.removeAttribute("readonly");
                    buttonsConfirm[i].style.visibility = "visible";
                    buttonsCancel[i].style.visibility = "visible";
                    buttonsEdit[i].style.visibility = "hidden";
                });
            });

            buttonsConfirm[i].addEventListener("click", function (evt) {
                let select = trs[i].getElementsByClassName("project-allocations-select");
                Array.from(select).forEach(function (td) {
                    td.setAttribute('disabled', 'disabled');
                });

                let tds = trs[i].getElementsByClassName("project-allocations-input");
                Array.from(tds).forEach(function (td) {
                    td.setAttribute('readonly', 'readonly');
                    buttonsConfirm[i].style.visibility = 'hidden';
                    buttonsCancel[i].style.visibility = 'hidden';
                    buttonsEdit[i].style.visibility = 'visible';
                });
            });

            buttonsCancel[i].addEventListener("click", function (evt) {
                let select = trs[i].getElementsByClassName("project-allocations-select");
                Array.from(select).forEach(function (td) {
                    td.setAttribute('disabled', 'disabled');
                    select.value = allocations[i].workerId;
                });

                let tds = trs[i].getElementsByClassName("project-allocations-input");
                Array.from(tds).forEach(function (td) {
                    td.setAttribute('readonly', 'readonly');
                    buttonsConfirm[i].style.visibility = 'hidden';
                    buttonsCancel[i].style.visibility = 'hidden';
                    buttonsEdit[i].style.visibility = 'visible'
                    buttonsConfirm[i].disabled = false;
                });

                tds[0].value = allocations[i].role;
                tds[0].classList.remove('project-allocations-input-empty');
                tds[1].value = allocations[i].dateFrom;
                tds[1].classList.remove('project-allocations-input-empty');
                tds[2].value = allocations[i].dateUntil;
                tds[2].classList.remove('project-allocations-input-empty');
                tds[3].value = allocations[i].allocationScope;
                tds[3].classList.remove('project-allocations-input-empty');
                tds[4].value = allocations[i].isCertain;
                tds[4].classList.remove('project-allocations-input-empty');
                tds[5].value = allocations[i].description;
            });
        }
    });

    // Handling table with month allocation of every worker

    let years = document.getElementsByClassName("main-row-year");
    let monthlyAllocations = [[${monthlyAllocations}]];
    let certainAllocations = [[${certainAllocations}]];
    let uncertainAllocations = [[${uncertainAllocations}]];

    let certain_times = document.getElementsByClassName("project-certain-times");
    let uncertain_times = document.getElementsByClassName("project-uncertain-times");
    let projects_times = document.getElementsByClassName("project-detail-times");

    let index = 0;
    const opts = {minimumFractionDigits: 1};
    let numberOfYears = monthlyAllocations.length > 0 ? monthlyAllocations[0].length / 12 : 0;

    Array.from(years).forEach(function(year) {
        year.textContent = employees[year.id].firstYear;
    });

    Array.from(certain_times).forEach(function (trArray) {
        if (certainAllocations.length > index && certainAllocations.length > 0) {
            for (let j = 0; j < 12; ++j) {
                let td = document.createElement("td");
                td.className = "main-cell-times-values-certain project-cell-times-values";
                td.innerHTML = (certainAllocations[j].time).toLocaleString(undefined, opts).replace(',', '.');
                trArray.append(td);
            }
            let td = document.createElement("td");
            td.className = "project-detail-table-cell";
            trArray.append(td);
        }
        index++;
    });

    index = 0;

    Array.from(uncertain_times).forEach(function (trArray) {
        if (uncertainAllocations.length > index && uncertainAllocations.length > 0) {
            for (let j = 0; j < 12; ++j) {
                let td = document.createElement("td");
                td.className = "main-cell-times-values-uncertain project-cell-times-values";
                td.innerHTML = (uncertainAllocations[j].time).toLocaleString(undefined, opts).replace(',', '.');
                trArray.append(td);
            }
            let td = document.createElement("td");
            trArray.append(td);
        }
        index++;
    });

    index = 0;

    Array.from(projects_times).forEach(function (trArray) {
        if (monthlyAllocations.length > index && monthlyAllocations[index].length > 0) {
            let last = monthlyAllocations[index][0].time;
            for (let j = 0; j < 12; ++j) {
                let td = document.createElement("td");
                if (last !== monthlyAllocations[index][j].time) {
                    last = monthlyAllocations[index][j].time;
                    td.style.backgroundColor = "darkgoldenrod";
                } else
                    td.style.backgroundColor = "white";
                td.className = "project-detail-project-times project-cell-times-values";
                td.innerHTML = (monthlyAllocations[index][j].time)
                    .toLocaleString(undefined, opts).replace(',', '.');
                trArray.append(td);
            }
            let td = document.createElement("td");
            trArray.append(td);
        }
        index++;
    });

    let left_btns = document.getElementsByClassName("btn-left");
    left_btns[0].classList.add("btn");
    left_btns[0].addEventListener("click", function (evt) {
        if (current_index > 0 && current_index !== undefined) {
            current_index--;
            renderTimes(certain_times, uncertain_times, projects_times);
        }
    });

    let right_btns = document.getElementsByClassName("btn-right");
    right_btns[0].classList.add("btn");
    right_btns[0].addEventListener("click", function (evt) {
        if ((current_index + 1) < numberOfYears && current_index !== undefined) {
            current_index++;
            renderTimes(certain_times, uncertain_times, projects_times);
        }
    });

    //

    function renderTimes(certain_times, uncertain_times, projects_times) {
        let certain_times_tds = certain_times[0].getElementsByClassName("main-cell-times-values-certain");
        let uncertain_times_tds = uncertain_times[0].getElementsByClassName("main-cell-times-values-uncertain");
        for (let j = 0; j < 12; ++j) {
            certain_times_tds[j].innerHTML = (certainAllocations[current_index * 12 + j].time)
                .toLocaleString(undefined, opts).replace(',', '.');
            uncertain_times_tds[j].innerHTML = (uncertainAllocations[current_index * 12 + j].time)
                .toLocaleString(undefined, opts).replace(',', '.');
        }

        for (let i = 0; i < projects_times.length; ++i) {
            let indexOfLast = ((current_index - 1) * 12 + 11 > 0) ? (current_index - 1) * 12 + 11 : 0;
            let last = monthlyAllocations[i][indexOfLast].time;
            let projects_times_tds = projects_times[i].getElementsByClassName("project-detail-project-times");
            for (let j = 0; j < 12; ++j) {
                if (last !== monthlyAllocations[i][current_index * 12 + j].time) {
                    last = monthlyAllocations[i][current_index * 12 + j].time;
                    projects_times_tds[j].style.backgroundColor = "darkgoldenrod";
                } else {
                    projects_times_tds[j].style.backgroundColor = "white";
                }
                projects_times_tds[j].innerHTML = (monthlyAllocations[i][current_index * 12 + j].time)
                    .toLocaleString(undefined, opts).replace(',', '.');
            }
        }
    }

    let newAllocation = [[${newAllocation}]];
    function clearRow(tr) {
        let select = tr.getElementsByClassName('project-allocations-select');
        select.value = employees[0].id;
        let input = tr.getElementsByClassName('project-allocations-input');
        input[0].value = newAllocation.role;
        input[1].value = newAllocation.dateFrom;
        input[2].value = newAllocation.dateUntil
        input[3].value = newAllocation.allocationScope;
        input[4].value = newAllocation.isCertain;
        input[5].value = newAllocation.description;
    }

    let requiredDetailNotFilled = 0;

    function onRequiredDetailChange(element) {
        let btn = document.getElementsByClassName('form-submit');
        if (element.value === '') {
            if (requiredDetailNotFilled === 0)
                btn[0].disabled = true;
            requiredDetailNotFilled++;
            element.classList.add('project-detail-input-empty');
            return false;
        } else {
            element.classList.remove('project-detail-input-empty');
            requiredDetailNotFilled--;
            if (requiredDetailNotFilled === 0)
                btn[0].disabled = false;
        }
    }

    // let trs = document.getElementsByClassName("project-allocations");
    let requiredAllocationNotFilled = new Array(trs.length);
    for (let i = 0; i < project_allocations.length; ++i)
        requiredAllocationNotFilled[i] = 0;

    function onRequiredAllocationChange(element, allIndex) {
        let btn = trs[allIndex].getElementsByClassName('btn-confirm');
        if (element.value === '') {
            if (requiredAllocationNotFilled[allIndex] === 0)
                btn[0].disabled = true;
            requiredAllocationNotFilled[allIndex]++;
            element.classList.add('project-allocations-input-empty');
            return false;
        } else {
            element.classList.remove('project-allocations-input-empty');
            requiredAllocationNotFilled[allIndex]--;
            if (requiredAllocationNotFilled[allIndex] === 0)
                btn[0].disabled = false;
        }
    }

    let requiredNewAllocationNotFilled = 0;

    function onRequiredNewAllocationChange(element) {
        let btn = document.getElementsByClassName('submit-btn');
        if (element.value === '') {
            if (requiredNewAllocationNotFilled === 0)
                btn[0].disabled = true;
            requiredNewAllocationNotFilled++;
            element.classList.add('project-allocations-input-empty');
            return false;
        } else {
            element.classList.remove('project-allocations-input-empty');
            requiredNewAllocationNotFilled--;
            if (requiredNewAllocationNotFilled === 0)
                btn[0].disabled = false;
        }
    }

    // Zkontroluje povinna pole detailu projektu pri aktualizaci
    function checkAllocation(allocationId) {
        let trs = document.getElementsByClassName("project-allocations");
        let select = trs[allocationId].getElementsByClassName("project-allocations-select");
        Array.from(select).forEach(function (td) {
            td.setAttribute('disabled', 'disabled');
        });

        let tds = trs[allocationId].getElementsByClassName("project-allocations-input");
        Array.from(tds).forEach(function (td) {
            if (td.value === '') {
                td.classList.add('project-allocations-input-empty');
                return false;
            }
        });

        select = document.getElementById('allocationSelect' + allocationId);
        let realInput = document.getElementById('workerId' + allocationId);
        realInput.value = select.options[select.selectedIndex].value;
    }

</script>

</html>