<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title th:text="#{form.edit-project.title}"></title>

    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <!-- bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="~{fragments/navbar}">Navbar</div>
<div class="container-fluid">
    <!-- content -->
    <div class="text-center mt-5"><h1 th:text="#{form.edit-project.header}"></h1></div>
    <div class="d-flex justify-content-center">
        <form method="post" th:action="@{'/p/' + ${id} + '/edit?manage=' + ${manage}}" th:object="${projectVO}"
              th:method="POST"
              class="border needs-validation m-5 mt-0 was-validated" novalidate>
            <div class="row m-3">
                <div class="col">
                    <label for="project_name" class="form-label" th:text="#{form.create-project.label.pname}"></label>
                    <input th:field="*{name}" type="text" id="project_name" name="project_name"
                           class="form-control common-border-radius" required>
                    <div class="invalid-feedback" th:text="#{form.create-project.invalid.pname}"></div>
                </div>
            </div>
            <div class="row m-3">
                <div class="col">
                    <label for="project_manager" class="form-label"
                           th:text="#{form.create-project.label.pmanager}"></label>
                    <input th:field="*{projectManagerOrionLogin}" type="text" id="project_manager"
                           name="project_manager"
                           class="form-control common-border-radius" th:required>
                    <div class="invalid-feedback" th:text="#{form.create-project.invalid.pmanager}"></div>
                </div>
            </div>
            <div class="row m-3">
                <div class="col">
                    <label for="primary_workplace" class="form-label"
                           th:text="#{form.edit-user.label.workplace}"></label>
                    <select th:field="*{workplaceId}" id="primary_workplace" class="form-select common-border-radius"
                            required>
                        <option th:value="*{null}" hidden selected value
                                th:text="#{form.edit-user.placeholder.workplace}"></option>
                        <tr th:each="workplace : ${workplaces}">
                            <option th:text="${workplace.abbreviation}" th:value="${workplace.id}"></option>
                        </tr>
                    </select>
                    <div class="invalid-feedback" th:text="#{form.edit-user.invalid.workplace}"></div>
                </div>
            </div>
            <div class="row m-3">
                <div class="col">
                    <label for="project_valid_from" class="form-label"
                           th:text="#{form.create-project.label.vfrom}"></label>
                    <input th:field="*{dateFrom}" type="date" id="project_valid_from"
                           name="project_valid_from"
                           class="form-control common-border-radius" required>
                    <div class="invalid-feedback" th:text="#{form.create-project.invalid.vfrom}"></div>
                </div>
                <div class="col">
                    <label for="project_valid_until" class="form-label"
                           th:text="#{form.create-project.label.vuntil}"></label>
                    <input th:field="*{dateUntil}" type="date" id="project_valid_until"
                           name="project_valid_until"
                           class="form-control common-border-radius">
                    <div class="invalid-feedback" th:text="#{form.create-project.invalid.vuntil}"></div>
                </div>
            </div>
            <div class="row m-3">
                <div class="col">
                    <label for="project_description" class="form-label"
                           th:text="#{form.create-project.label.description}"></label>
                    <textarea th:field="*{description}" id="project_description" name="project_description"
                              class="form-control common-border-radius" rows="5" required></textarea>
                    <div class="invalid-feedback" th:text="#{form.create-project.invalid.description}"></div>
                </div>
            </div>
            <div class="row m-3 justify-content-center">
                <div class="col">
                    <input class="btn btn-outline-primary w-100 common-border-radius" type="submit"
                           th:value="#{form.edit-project.submit}">
                </div>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{fragments/footer}">Footer</div>
<script type="text/javascript" th:src="@{/js/form_validation.js}"></script>
<script type="text/javascript" th:src="@{/js/validation/project_form_validation.js}"></script>
<script type="text/javascript" th:inline="javascript">
    let restrictions = [];
    /*[# th:each="n : ${restrictions}"]*/
    restrictions.push(new ProjectRestrictions("[(${n.name})]"))
    /*[/]*/
    let emp_restrictions = [];

    let name;
    /*[# th:each="n : ${employees}"]*/
    name = '[(${n.getFirstName()})]' + ' ' + '[(${n.getLastName()})]' + ' (' + '[(${n.getOrionLogin()})]' + ')';
    emp_restrictions.push(name);
    /*[/]*/
    let wv = new ProjectValidation(restrictions, 'project_name', emp_restrictions, 'project_manager');
    wv.exclude();
</script>
<script type="text/javascript" th:src="@{/js/external/autocomplete.js}"></script>
<script type="text/javascript" th:inline="javascript">
    let employees = [];

    /*[# th:each="n : ${employees}"]*/

    label = '[(${n.getFirstName()})]' + ' ' + '[(${n.getLastName()})]' + ' (' + '[(${n.getOrionLogin()})]' + ')';
    employees.push({label: label, value: '[(${n.getOrionLogin()})]'});

    /*[/]*/

    const ac = new Autocomplete(document.getElementById('project_manager'), {
        data: employees
    });
</script>
<script type="text/javascript" th:src="@{/js/form_integrity/allocation_date.js}"></script>
<script type="text/javascript" th:inline="javascript">

    document.addEventListener("DOMContentLoaded", () => {

        let dateA = $('#project_valid_from').attr('value').split('.');
        dateA = `${'20' + dateA[2]}-${dateA[1]}-${dateA[0]}`;
        $('#project_valid_from').attr('value', dateA);

        let dateB = $('#project_valid_until').attr('value').split('.');
        dateB = `${'20' + dateB[2]}-${dateB[1]}-${dateB[0]}`;
        $('#project_valid_until').attr('value', dateB);
    });

    let dc = new AllocationDateController('project_valid_from', 'project_valid_until');
</script>
</body>
</html>